@font-face {
    font-family: 'game_of_thronesregular';
    src: url('../font/game_of_thrones-webfont.woff') format('woff'),
         url('../font/game_of_thrones-webfont.woff2') format('woffw');
    font-weight: normal;
    font-style: normal;
}
html {
    
    font-size: 24px;
    line-height: 30px;
    
}
header {
    font-family: 'game_of_thronesregular';
    padding: 40px;
    font-size: 48px;
    text-align: center;
}
.container {
    position: relative;
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
    height: 900px;
}
#display-time {
    text-align: center;
    position: absolute;
    /* border: 2px solid red; */
    width: 50%;
    height: 20%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 30%;
}
.center-container{
    position: absolute;
    /* border: 2px solid blue; */
    width: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
    text-align: center;
    padding-bottom: 45px;
}
#start-title {
    position: absolute;
    width: 50%;
    transform: translate(-50%, -50%);
    left: 60%;
    top: 50%;
    text-align: center;
}
#start {
    position: absolute;
    top: 0; 
    right: 0;
}
.center-answers {
    text-align: center;
    position: absolute;
    /* border: 2px solid red; */
    width: 50%;
    height: 20%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 65%;
}
a:link {
    text-decoration: none;
}
p {
    margin: 25px;
    font-size: 15px;
}
#test {
    font-family: Arial, Helvetica, sans-serif;
}